body {
    width: 320px;
    font: 12pt Helvetica, sans-serif;
} 

img, table {
    max-width: 320px;
} 

h1 {
    white-space: nowrap;
    height: 100px;
    width: 100px;
}

header ul.navigation {
	display:block;
	text-align: left;
	float: right;
	line-height: 50px;
	margin-top: 50px;
	font-family: helvetica, sans-serif;
}